# Byte compiled
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/
.env

# Copyrighted dataset
data/spotify_dataset.csv
data/songs_working.csv
data/embeddings_cache.npz

# OS files
.DS_Store

# Pytest cache
.pytest_cache/
